fastapi
uvicorn
openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
sentence-transformers
youtube-transcript-api
python-multipart
huggingface_hub
certifi
chromadb
tiktoken
pysqlite3-binary